﻿<div class="app-container">
    <Topbar 
        SelectInstrumentCallback="HandleInstrumentSelection"
        SelectSecurityCallback="HandleSecuritySelection"/>

    <MainContainer
        SelectedInstrument="@selectedInstrument"
        SelectedSecurity="@selectedSecurity"/>
</div>

@code {

}