﻿<div class="app-container">
    <Topbar 
        
        SelectSecurityCallback="HandleSecuritySelection"/>

    <MainContainer
        SelectedSecurity="@selectedSecurity"/>
</div>

@code {
    //SelectInstrumentCallback="HandleInstrumentSelection"
}