<div class="entire-container">
    <TopbarComponent 
        SelectInstrumentCallback="HandleInstrumentSelection"
        SelectItemCallback="HandleItemSelection"/>

    <MainContainerComponent 
        SelectedInstrument="@selectedInstrument"
        SelectedItem="@selectedItem"/>
</div>

@code {

}
