<div class="entire-container">
    <TopbarComponent 
        SelectInstrumentCallback="HandleInstrumentSelection"
        SelectMarketCallback="HandleMarketSelection"/>

    <MainContainerComponent 
        SelectedInstrument="@selectedInstrument"
        SelectedMarket="@selectedMarket"/>
</div>

@code {

}
