<div class="entire-container">
    <TopbarComponent 
        SelectInstrumentCallback="HandleInstrumentSelection"
        SelectSecurityCallback="HandleSecuritySelection"/>

    <MainContainerComponent 
        SelectedInstrument="@selectedInstrument"
        SelectedSecurity="@selectedSecurity"/>
</div>

@code {

}
