<div class="entire-container">
    <TopbarComponent 
        SelectInstrumentCallback="HandleInstrumentSelection"/>

    <MainContainerComponent 
        SelectedInstrument="@selectedInstrument"/>
</div>

@code {

}
