<section id="leftSideBar" class="child">
    <div class="indicators-title">
        <p>Popular Indicators</p>
    </div>

    <div class="indicators">
        @foreach (string indicator in _popularTradingIndicators) {
            <div class="indicator" @onclick="() => SelectIndicator(indicator)">@indicator</div>
        }
    </div>

    <div class="popout-menu">
        <div class="popout-toggle">
            <span>See More</span>
            <span class="e-icons e-chevron-right"></span>
        </div>
        <div class="menu-content ">
            @foreach (string indicator in _extraTradingIndicators) {
                <div class="indicator" @onclick="() => SelectIndicator(indicator)">@indicator</div>
            }
        </div>
    </div>

</section>

@code {

}
