<div id="main-container">
    <LeftSidebarComponent 
        SelectStrategyCallback="HandleStrategySelection"/>

    <GraphContainerComponent 
        @rendermode="InteractiveServer"
        SelectedInstrument="@SelectedInstrument"
        SelectedStrategy="@selectedStrategy"
        SelectedMarket="@SelectedMarket"/>

    <RightSidebarComponent />
</div>

@code {

}
