<div id="main-container">
    <LeftSidebar
        SelectIndicatorCallback="HandleIndicatorSelection"/>

    <GraphContainer 
        @rendermode="InteractiveServer"
        @ref="graphContainerRef"
        SelectedSecurity="@SelectedSecurity"/>

    <RightSidebar />
</div>

@code {

}
