<div id="main-container">
    <LeftSidebar
        SelectIndicatorCallback="HandleIndicatorSelection"/>

    <GraphContainer 
        @rendermode="InteractiveServer"
        SelectedInstrument="@SelectedInstrument"
        SelectedIndicator="@selectedIndicator"
        SelectedSecurity="@SelectedSecurity"/>

    <RightSidebar />
</div>

@code {

}
