<div id="main-container">
    <LeftSidebarComponent 
        SelectIndicatorCallback="HandleIndicatorSelection"/>

    <GraphContainerComponent 
        @rendermode="InteractiveServer"
        SelectedInstrument="@SelectedInstrument"
        SelectedIndicator="@selectedIndicator"
        SelectedSecurity="@SelectedSecurity"/>

    <RightSidebarComponent />
</div>

@code {

}
