#topBar {
    display: flex;
    flex-basis: 6%;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-bottom: 20px;
    top: 0;
    border: 2px solid #000000;
    border-radius: 5px;
    z-index: 1000;
    width: 100%;
}

.small-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 30%;
    height: 70%;
}

.instrumentList {
    height: auto;
    display: flex;
    align-items: center;
}

.topbar-menu {
    width: 100%;
}

.topbar-menu-content {
    top: 0;
}