
<section id="topBar">
    <div class="small-container">
        <div class="instrumentList">
            <!--@foreach(Instrument instrument in instruments) {
                <ul>@instrument.InstrumentName (@instrument.InstrumentSymbol)</ul>
            }-->
            <!--Temp Code

                I can create a Razor component for this dropdown menu

                Maybe add a pop up notification for the instruments which i have not got data for
            -->

            <div class="dropdown-menu">
                <div class="select-btn">
                    <span class="selectBtn-text">Instruments</span>
                    <span class="e-icons e-chevron-down"></span>
                </div>
                <div class="options">
                    @foreach (var instrument in _instruments) {
                        <div class="option" @onclick="() => SelectInstrument(instrument)">
                            <span class="option-text">@instrument</span>
                        </div>
                    }
                </div>
            </div>


        </div>

    </div>

    <div class="small-container">
        <div class="help">
            <p>Help</p>
        </div>
    </div>
</section>

@code {
    protected override void OnInitialized() {
        Console.WriteLine("Topbar initialised");
    }
}
