@inject Models.Database.DatabaseHandler databaseHandler;

<section id="topBar">
    <div class="small-container">
        <div class="instrumentList">
            <div class="dropdown-menu">
                <div class="select-btn">
                    <span class="selectBtn-text">Instruments</span>
                    <span class="e-icons e-chevron-down"></span>
                </div>
                <div class="options">
                    @foreach (var instrument in _instruments) {
                        <div class="option" @onmouseover="() => SelectInstrument(instrument)">
                            <div class="popout-menu topbar-menu">
                                <a href="#">
                                    <span class="option-text">@instrument</span>
                                </a>
                                <div class="menu-content topbar-menu-content">
                                    @foreach (string security in _availableSecurities) {
                                        <div class="indicator" @onclick="() => SelectSecurity(security)">@security</div>
                                    }

                                    @if (_availableSecurities.Count == 0) {
                                        <div class="indicator">No available markets</div>
                                    }
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="small-container">
        <div class="help">
            <p>Help</p>
        </div>
    </div>
</section>

@code {
    protected override void OnInitialized() {
        Console.WriteLine("Topbar initialised");
    }
}
