@inject Models.Database.DatabaseHandler databaseHandler;
@inject NavigationManager navigationManager

<section id="topBar">
    <div class="small-container">
        <div class="instrumentList">
            <div class="dropdown-menu">
                <div class="select-btn">
                    <span class="selectBtn-text">Instruments</span>
                    <span class="e-icons e-chevron-down"></span>
                </div>
                <div class="options">
                    @foreach (var instrument in _instruments) {
                        <div class="option" @onmouseover="() => GetAvailableSecurities(instrument)">
                            <div class="popout-menu topbar-menu">
                                <a href="#">
                                    <span class="option-text">@instrument</span>
                                </a>
                                <div class="menu-content topbar-menu-content">
                                    @foreach (string security in _availableSecurities) {
                                        <div class="indicator" @onclick="() => SelectSecurity(security)">@security</div>
                                    }

                                    @if (_availableSecurities.Count == 0) {
                                        <div class="indicator">No available markets</div>
                                    }
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="small-container">
        <div class="dropdown-menu summary-wrapper">
            <div class="select-btn" @onmouseover="() => GetSummaryData()">
                <span class="selectBtn-text">Get Price Data Summary</span>
                <span class="e-icons e-chevron-down"></span>
            </div>
            
            <div class="summary-data-grid">
                <div class="summary-header">
                    <span>Instrument Name</span>
                    <span>Date</span>
                    <span>Average Close</span>
                    <span>Min Close</span>
                    <span>Max Close</span>
                </div>

                @foreach (List<string> row in _summaryData) {
                    <div class="summary-row">
                        @foreach (string item in row) {
                            <span>@item</span>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="small-container">
        <div class="dropdown-menu">
            <div class="select-btn" @onclick="() => GoToHelp()">
                <span class="selectBtn-text">Help</span>
            </div>
        </div>
    </div>
</section>

@code {
    protected override void OnInitialized() {
        Console.WriteLine("Topbar initialised");
    }
}
