<section id="leftSideBar" class="child">
    <div class="strategies-title">
        <p>Popular Indicators</p>
    </div>

    <div class="strategies">
        <div class="strategy">
            Exponentially Weighted Moving Average
        </div>

        <div class="strategy">
            Bollinger Bands
        </div>

        <div class="strategy">
            RSI
        </div>

        <div class="strategy">
            Exponentially Weighted Moving Average
        </div>
    </div>

    <div class="popout-menu">
        <a href="#">
            <span>See More</span>
            <i class="fa fa-chevron-right"></i>
        </a>
        <div class="menu-content">
            <div class="strategy">Linear Regression</div>
            <div class="strategy">Standard Deviation</div>
            <div class="strategy">Momentum</div>
            <div class="strategy">Aroon</div>
        </div>
    </div>

</section>

@code {

}
