@page "/Help"

<div class="help-container">
    <h1>Help</h1>
    <p>Here you can find help on how to use the application.</p>
    
    <h1>Getting Started</h1>
    <p>When you first open the application, you will be greeted with the home page. 
       Here you can see the current price data summary for all instruments. You can 
       also select an instrument from the dropdown menu to view the price data summary for that instrument.</p>

    <h1>Choosing Indicators</h1>
    <p>On the left side of the home page, there is a list of common indicators.
       There is also a menu for some more possible indicators to select from. Do not that
       some of the indicators in the extra menu may not be available right now.
    </p>

    <h1>Viewing Price Data</h1>
    <p>After selecting an instrument, the graph in the middle of the page will update with a new graph. 
       Here you can see the price data for the selected instrument. Hover over anywhere on the graph to see
       the prices at timestamp that youre hovering over.
       You can also select an indicator from the dropdown menu to view the price data for that indicator.</p>

    <h1>Choosing Strategies</h1>
    <p>So far there are only a few strategies available to use but they all are functioning. In order to use 
       them, click on one of them and it will bring you to a new page which has some parameters to choose at the top 
       of the page. Once all parameters have been chosen, click the generate P&L to see a visualisation of the strategy
       and the P&L of the strategy.</p>
</div>

@code {

}
